@inherits LayoutComponentBase
<div class="flex min-h-screen flex-col">
    <header class="bg-blue-600 p-4 text-center font-bold text-white">
        CoreReserve
    </header>
    <main class="flex-1 p-4">
        @Body
    </main>
</div>